# Database configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/task_management_db?schema=public"

# Auth configuration
JWT_SECRET="development_jwt_secret_key_change_in_production"

# AWS S3 Storage configuration (Mock values for dev, put real keys in production)
AWS_ACCESS_KEY_ID="mock_access_key"
AWS_SECRET_ACCESS_KEY="mock_secret_key"
AWS_REGION="us-east-1"
AWS_S3_BUCKET_NAME="construction-task-management-assets"

# Server Port
PORT=3000
